* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  font-family: Arial, sans-serif;
}
div.wrapper {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  min-height: 100vh;
}
div.additionalContainers {
  display: none;
}
/* New Dish Menu */
div.menu {
  display: flex;
  position: fixed;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
  background-color: #6a8c13;
  color: #cfc;
  padding: 5px;
  letter-spacing: 1px;
  z-index: 1;
  border-bottom: #3f520b solid 2px;
}
div.menu i {
  font-size: 2.4rem;
  justify-content: center;
  text-align: center;
  border: 3px solid #3f520b;
  border-radius: 4px;
  background-color: #3f520b;
  padding: 5px 10px;
  cursor: pointer;
}
ul.newMenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-basis: 70%;
}
ul li {
  list-style: none;
  font-size: 2.2rem;
  border: 3px solid #3f520b;
  border-radius: 4px;
  justify-content: space-between;
  padding: 15px 0;
  line-height: 1.5rem;
  background-color: #3f520b;
  flex-wrap: nowrap;
}
li.active {
  padding: 10px 15px;
}
div.newDishContent {
  display: flex;
  flex-direction: row;
  animation-fill-mode: forwards;
  background-color: #6a8c13;
}
/* Name Content */
div.newDishLogo {
  position: fixed;
  background-image: url("../images/logo.jpg");
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
  bottom: 10px;
  left: 10px;
  width: 100px;
  height: 100px;
}
div.nameContent h1 {
  font-size: 3.5rem;
  color: #cfc;
  text-shadow: black 1px 1px 5px;
  margin-top: 20%;
  text-align: center;
  font-weight: lighter;
}
div.nameContent {
  background-color: #6a8c13;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: stretch;
  padding-top: 51px;
  width: 100vw;
}
div.nameContent textarea {
  background-color: #3f520b;
  flex-basis: 30%;
  font-size: 3rem;
  color: #cfc;
  text-shadow: black 1px 1px 5px;
  margin: 20px 20px;
  cursor: text;
}
div.nameContent div.nameSubmit {
  font-size: 3.5rem;
  color: #cfc;
  text-shadow: black 1px 1px 5px;
  text-align: center;
  border: #3f520b solid 4px;
  padding: 5px 10px;
  border-radius: 15px;
  margin-left: 40%;
  margin-right: 10%;
}
/* Ingredient Content */
div.ingredientsContent {
  display: none;
  background-color: #6a8c13;
  flex-direction: column;
  flex-grow: 1;
  padding-top: 51px;
  width: 100vw;
}
div.ingredientsContent h1 {
  font-size: 3.5rem;
  color: #cfc;
  text-shadow: black 1px 1px 5px;
  margin-top: 5%;
  text-align: center;
  font-weight: lighter;
}
div.addIngredient {
  background-color: #6a8c13;
  display: flex;
  flex-direction: row;
  border: #3f520b solid 4px;
  border-radius: 50px;
  margin: 10px 5px;
  padding: 5px;
  z-index: 1;
}
i.fa-circle-plus {
  font-size: 8rem;
  color: #3f520b;
}
p.add {
  font-size: 7rem;
  color: #3f520b;
  flex-grow: 1;
  /* text-shadow: #cfc 1px 1px 5px; */
  letter-spacing: 1px;
  padding-left: 30px;
  font-style: italic;
}

div.ingredientBracket {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  background-color: #6a8c13;
  border: #3f520b 4px solid;
  margin: 5px 5px 5px 5px;
  border-radius: 50px;
  align-items: center;
  z-index: 1;
}
div.ingredientName {
  margin-top: 20px;
  display: flex;
}
div.ingredientName input {
  background-color: #3f520b;
  font-size: 3rem;
  color: #cfc;
  text-shadow: black 1px 1px 5px;
  margin: 20px 20px;
  cursor: text;
}
div.ingredientQuantity input {
  background-color: #3f520b;
  font-size: 3rem;
  color: #cfc;
  text-shadow: black 1px 1px 5px;
  margin: 10px 20px 10px;
  cursor: text;
}
div.ingredientType {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
div.typeList {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 20px 20px 10px;
}
div.ingredientInput {
  line-height: 30px;
  display: flex;
  flex-direction: row;
  flex-basis: 50%;
  line-height: 40px;
  font-size: 2rem;
}
input.ingredientType {
  appearance: none;
  border: 2px solid #3f520b;
  border-radius: 50%;
  margin: 5px 5px;
  font-size: 3rem;
  width: 20px;
  height: 20px;
  transition: 0.2s all linear;
}
input.ingredientType:checked {
  border: 6px solid #3f520b;
}
div.ingredientInput p {
  line-height: 40px;
  color: #3f520b;
  text-shadow: #cfc 1px 1px 3px;
  font-size: 2rem;
}
div.ingredientSubmit {
  font-size: 3rem;
  background-color: #6a8c13;
  color: #3f520b;
  text-shadow: #cfc 1px 1px 3px;
  text-align: center;
  border: #3f520b 4px solid;
  border-radius: 25px;
  padding: 5px 10px;
  margin: 10px 0;
}
.addedIngredient {
  font-size: 7rem;
  line-height: 80px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  border: #3f520b solid 4px;
  border-radius: 50px;
  margin: 10px 5px;
  padding: 5px;
}
.fa-circle-minus {
  align-items: center;
  justify-content: center;
  font-size: 8rem;
  color: #3f520b;
}
p.addedIngredientName {
  line-height: 40px;
  padding: 20px 0;
  font-size: 4rem;
  color: #cfc;
  font-style: italic;
  flex-grow: 1;
  text-align: center;
  text-shadow: black 1px 1px 5px;
}
div.ingredientsSubmit {
  font-size: 3.5rem;
  color: #cfc;
  text-shadow: black 1px 1px 5px;
  text-align: center;
  border: #3f520b solid 4px;
  padding: 5px 10px;
  border-radius: 15px;
  margin-left: 40%;
  margin-right: 10%;
}

/* Description Content */
div.descriptionContent {
  display: none;
  flex-direction: column;
  background-color: #6a8c13;
  flex-grow: 1;
  padding-top: 51px;
  width: 100vw;
}
div.descriptionContent h1 {
  font-size: 3.5rem;
  color: #cfc;
  text-shadow: black 1px 1px 5px;
  margin-top: 5%;
  text-align: center;
  font-weight: lighter;
}
textarea.dishDescription {
  background-color: #3f520b;
  flex-basis: 60%;
  font-size: 3rem;
  color: #cfc;
  text-shadow: black 1px 1px 5px;
  margin: 20px 20px;
  cursor: text;
}
div.descriptionSubmit {
  font-size: 3.5rem;
  color: #cfc;
  text-shadow: black 1px 1px 5px;
  text-align: center;
  border: #3f520b solid 4px;
  padding: 5px 10px;
  border-radius: 15px;
  margin-left: 40%;
  margin-right: 10%;
}
/* Tags Content */
div.tagsContent {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  background-color: #6a8c13;
  flex-grow: 1;
  padding-top: 51px;
  width: 100vw;
}
div.tagsLine {
  display: flex;
}
div.tag {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-basis: 50%;
}
img.tagImage {
  width: 25vw;
  height: 25vw;
  box-shadow: black 1px 1px 5px;
}
div.tag h1 {
  font-size: 2rem;
  color: #cfc;
  text-shadow: black 1px 1px 5px;
  margin-top: 5%;
  text-align: center;
  font-weight: lighter;
  word-wrap: normal;
}
div.tagsSubmit {
  font-size: 3.5rem;
  color: #cfc;
  text-shadow: black 1px 1px 5px;
  text-align: center;
  border: #3f520b solid 4px;
  padding: 5px 10px;
  border-radius: 15px;
  margin-left: 40%;
  margin-right: 10%;
}
/* Photo Content */
div.photoContent {
  display: flex;
  flex-direction: column;
  display: none;
  align-items: center;
  background-color: #6a8c13;
  flex-grow: 1;
  padding-top: 51px;
  width: 100vw;
}
div.photoContent h1 {
  font-size: 3.5rem;
  color: #cfc;
  text-shadow: black 1px 1px 5px;
  margin-top: 5%;
  text-align: center;
  font-weight: lighter;
}
div.photoContent input {
  display: none;
}
label {
  font-size: 3rem;
  color: #cfc;
  text-shadow: black 1px 1px 5px;
  text-align: center;

  border: #3f520b solid 4px;
  padding: 10px 20px;
  border-radius: 15px;
  margin: 10px 0;
}
div.photoDisplay {
  display: none;
  max-width: calc(100vw - 20px);
  max-height: calc(100vw - 20px);
  margin: 10px;
}
img.photo {
  display: block;
  position: relative;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  border: #3f520b 2px solid;
}

div.photoSubmit {
  font-size: 3.5rem;
  color: #cfc;
  text-shadow: black 1px 1px 5px;
  text-align: center;
  border: #3f520b solid 4px;
  padding: 5px 10px;
  border-radius: 15px;
  margin-left: 40%;
  margin-right: 10%;
}
/* Overview Content */
div.overviewContent {
  display: none;
  flex-direction: column;
  background-color: #6a8c13;
  flex-grow: 1;
  padding-top: 51px;
  width: 100vw;
}
div.overviewDishName h1 {
  font-size: 3.5rem;
  color: #cfc;
  text-shadow: black 1px 1px 5px;
  margin-top: 5%;
  text-align: center;
  font-weight: lighter;
}
div.overviewTags {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px 0;
}
img.overviewTagImage {
  display: none;
  /* border: #3f520b 2px solid; */
  width: 12vw;
  height: 12vw;
  padding: 1px;
}
div.overviewPhotoDisplay {
  display: none;
  max-width: calc(100vw - 20px);
  max-height: calc(100vw - 20px);
  margin: 10px;
}
div.overviewIngredients {
  display: none;
  border: #3f520b 2px solid;
  border-radius: 15px;
  flex-direction: column;
  justify-content: flex-start;
  width: calc(100vw - 20px);
  margin: 10px;
}
div.overviewIngredients h1 {
  font-size: 3.5rem;
  color: #cfc;
  text-shadow: black 1px 1px 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  font-weight: lighter;
  text-decoration: underline;
  padding-bottom: 10px;
}
div.overviewIngredient {
  width: 100%;
  font-size: 2rem;
  color: #cfc;
  text-shadow: black 1px 1px 3px;
  margin: 5px 5px 0 5px;
}
div.overviewDescription {
  border: #3f520b 2px solid;
  border-radius: 15px;
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  text-align: justify;
  width: calc(100vw - 20px);
  margin: 10px;
  padding: 10px 5px;
  font-size: 2rem;
  color: #cfc;
  text-shadow: black 1px 1px 3px;
}
div.dishSubmit i {
  padding: 0 5px;
  font-size: 2.5rem;
  color: #cfc;
}
div.dishSubmit {
  display: none;
  font-size: 3rem;
  color: #cfc;
  text-shadow: black 1px 1px 5px;
  text-align: center;
  border: #3f520b solid 4px;
  padding: 5px 10px;
  border-radius: 15px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5%;
}
